@tailwind base;
@tailwind components;
@tailwind utilities;

















/* @tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color-light: #ffffff;
  --background-color-dark: #1a1a1a;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
}

[data-theme="light"] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
}

[data-theme="dark"] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
} */













/* @font-face {
  font-family: 'Agdasima';
  src: url('/fonts/Agdasima/Agdasima-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agdasima';
  src: url('/fonts/Agdasima/Agdasima-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} */


/* @font-face {
  font-family: "TechnoGrazer";
  src: url("./fonts/TechnoGrazerRegular-DYdaW.ttf") format("truetype"),
    url("./fonts/TechnoGrazerRegular-AR0mL.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ramus";
  src: url("/path/to/fonts/RamusBoldItalic-3zB16.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "BebasNeue";
  src: url("/src/assets/fonts/BebasNeue-Regular.ttf") format("truetype"),
    url("/src/assets/fonts/BebasNeue-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
} */
