@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lobster font */
@font-face {
  font-family: "Lobster";
  src: url("/fonts/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Roboto fonts */

/* Regular (400) */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Bold (700) */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Light (300) */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Medium (500) */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Thin (100) */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

.hide-scrollbar {
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

/* .invert {
  filter: invert(1);
} */

/* @tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color-light: #ffffff;
  --background-color-dark: #1a1a1a;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
}

[data-theme="light"] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
}

[data-theme="dark"] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
} */

/* @font-face {
  font-family: 'Agdasima';
  src: url('/fonts/Agdasima/Agdasima-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agdasima';
  src: url('/fonts/Agdasima/Agdasima-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} */

/* @font-face {
  font-family: "TechnoGrazer";
  src: url("./fonts/TechnoGrazerRegular-DYdaW.ttf") format("truetype"),
    url("./fonts/TechnoGrazerRegular-AR0mL.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ramus";
  src: url("/path/to/fonts/RamusBoldItalic-3zB16.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "BebasNeue";
  src: url("/src/assets/fonts/BebasNeue-Regular.ttf") format("truetype"),
    url("/src/assets/fonts/BebasNeue-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
} */
